*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: block;
  justify-content: center;  
  align-items: center;
  color: #4f546c;
  font-size: 0.9rem;
  background-color: #f9fbff;
}
body::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero-btn{
  background: white;
  cursor: pointer;
  padding: 0.5rem 2rem;
}
.hero-btn:hover{
  border: 1px solid blanchedalmond;
  background: green;
  transition: 1s;
  padding: 0.5rem 2rem;
}
.red-btn{
  border: 1px solid blanchedalmond;
  background: white;
  color: white;
  transition: 1s;
  padding: 0.5rem 2rem;
}
.red-btn:hover{
  color: whitesmoke;
  padding: 0.5rem 2rem;
}
.Show-data{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:none no-repeat center center fixed;
  background-size: cover;
  padding: 30px;
}

.Upload-data{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding: 30px;
}
.container2{
  position: center;
  max-width: 350px;
  width: 50%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.container{
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.btn2{
  background: none;
  padding: 0.5rem 2rem;
}
.btn2:hover{
  background: white;
  color: black;
}

